@inject NavigationManager Navigation

<div class="product-card" @onclick="() => OnClick()">
    <img src="@Product.ImageUrl" alt="@Product.Title"/>
    <div class="product-card-info">
        <h3>@Product.Title</h3>
        @if (Product.Description != null)
        {
            @foreach (var desc in Product.Description.Take(4))
            {
                <p class="description">@desc</p>
            }
        }
        <p class="price">@Product.Price.ToString("0.00") zł</p>
    </div>
</div>

@code {
    [Parameter] 
    public ProductCardInfo Product { get; set; } = new ProductCardInfo();

    private void OnClick()
    {
        Navigation.NavigateTo($"/product/{Product.Id}");
	}
}