
<div class="product-card">
	<img src="@ImageUrl"alt="@Title"/>
	<div class="product-card-info">
		<h3>@Title</h3>
		@if(Description != null)
		{
			@for(int i = 0; i < 4; i++)
			{
				if(i < Description.Count)
				{
					<p class="description">@Description[i]</p>
				}
			}
		}
		<p class="price">@Price.ToString() zł</p>
	</div>
</div>


@code {
	[Parameter] public string ImageUrl { get; set; } = string.Empty;
	[Parameter] public string Title { get; set; } = string.Empty;
	[Parameter] public List<String> Description { get; set; } = new List<string>();
	[Parameter] public decimal Price { get; set; } = 0.0m;
}
